/*
	Global classes
					*/
body {
	background-image: url("../assets/images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 30px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h5 {
	color: white;
	padding-top: 9px;
	font-size: 19px;
	display: block;
	font-weight: bold;
	align-items: center;
	width: 240px;
	padding-left: 62px;
	position: absolute;

}

.head-bar {
	background-color: #FF8C00;
	width: 300px;
	height: 45px;
	text-align: center;
	display: inline-block;
}

.back-button {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-left: 5px;
	float: left;
	padding-top: 7px;
}

.profile-dots{
	float: right;
	width: 10px;
	height: 10px;
	padding-top: 9px;
	padding-right: 25px;
}

.filter{
	height: 40px;
	width: 299px;
	align-items: center;
	background-color: white;
}

.listing {
	background: #fff;
	border-radius: 5px;
	display: inline-block;
	height: 75px;
	position: relative;
	width: 290px;
	margin-left: 5px;
	margin-top: 50px;
  }

  .listing-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .listing-2 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
}

  .listing-1:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .listing-4 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

 .confirmation{
	margin: 25px 20px 0px 20px;
	height: 260px;
	width: 260px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px grey;
	align-items: center;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tick{
	display: block;
	text-align: center;
	padding-top: 20px;
	font-size:50px;
	color:green;
}

.msg{
	text-align: center;
	font-weight: bold;
}

.bookingid{
	margin: 25px 20px 0px 20px;
	height: 80px;
	width: 260px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px grey;
	align-items: center;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: inline-block;
}

.buttons1{
	margin-top: 22px;
	margin-left: 5px;
	height: 20px;
	text-align: center;
	font-size: 11px;
	display: inline-block;
	float: left;
}

.buttons2{
	margin-top: 22px;
	margin-left: 2px;
	height: 20px;
	width: 20px;
	text-align: center;
	font-size: 11px;
	display: inline-block;
}

.buttons3{
	margin-top: 22px;
	margin-left: 7px;
	margin-right: 5px;
	height: 20px;
	text-align: center;
	font-size: 11px;
	display: inline-block;
	float: right;
}

.idnumber{
	margin-left: 95px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-top: -17px;
}

.idnumber p{
	font-size: 13px;
	height: 60px;
	width: 90px;
	line-height: 10px;
	text-align: center;
	display: inline-block;
	position: absolute;
}

.idnumber h2{
	font-size: 18px;
	height: 60px;
	width: 90px;
	text-align: center;
	display: inline-block;
	position: absolute;
}

.pickuptimer{
	text-align: center;
	font-weight: bold;
	font-size: 27px;
	width: 185px;
	height: 35px;
	margin-left: 40px;
	box-shadow: 1px 1px 1px grey;

}

.listingform{
	margin: 25px 20px 0px 20px;
	height: 440px;
	width: 260px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px grey;
	align-items: center;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.delivery{
	width: 135px; 
	text-align: center;
	margin-left: 50px;
	height: 25px;
	font-size: 12px;
	display: inline;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;}
	

.vertical-menu {
	width: 200px;
	height: 530px;
	background-color: #eee;

}

.vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu a:hover {
	background-color: #ccc;
}

.vertical-menu a.active {
	background-color: #FF8C00;
	color: white;
}